.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

a {
    color: white;
    text-decoration: none;

}

.header-top {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 30px;
    font-size: 40px;
    font-weight: bold;
}

.header-links {
    font-size: 20px;
    
}
.header-bottom {
    display: flex;
    justify-content: space-around;
    margin: 80px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    font-size: 50px;
    font-weight: bold;
    width: 400px;
    margin: 10px;
}

.info-text {
    width: 450px;
    font-size: 20px;
}

.info-button {
    display: flex;
    background-color: #6495ED;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;;
}

.header-bottom-img {
    text-align: center;
    vertical-align: center;
    background-color: 	#808080;
    width: 400px;
}

.base-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}

.base-1-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.base-1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    
}

.base-1-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.base-1-text {
    font-size: 20px;
    text-align: center;
}

.base-1-title {
    font-size: 50px;
    font-weight: bold;
    padding: 40px;
}

.base-2 {
    background-color: #E5E7EB;
    width: 2000px;
    height: 400px;
}